* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #FF70A6, #FF9770, #FFD670, #E9FF70);
}

.App {
  padding-left: 100px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  min-width: 100%;
  min-height: 100%;
}

.Auth {
  display: flex;
  background-image: linear-gradient(to right, #FF70A6, #FF9770, #FFD670, #E9FF70);
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
}

.auth-container {
  border-radius: 8px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
  width: 40vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.auth_title {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 700;
}

.auth_input_box {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 5px 0;
}

.auth_input_title {
  color: white;
}

.auth_button_container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.dark_button {
  border-radius: 1px;
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  padding: 10px 20px;
  color: #FFF;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  margin: 5px;
}

.Nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  color: #FFF;
  background-image: linear-gradient(0deg,#ff7abe,#ff9770);
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}

.Nav>div {
  margin: 0 0 45px;
}

.nav_profile_container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav_profile_pic {
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
}

.nav_links {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home_icon {
  width: 40px;
}

.new_icon {
  width: 40px;
}

.logout_icon {
  width: 40px;
  position: absolute;
  bottom: 20px;
  left: 30px;
}